@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: Bebas Neue, sans-serif;
  background: whitesmoke;
  background: #b24592; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f15f79,
    #b24592
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f15f79,
    #b24592
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar {
  justify-content: flex-end;
}

h6 {
  color: white;
  margin-right: 0.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
}

.navbar-brand {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  border: 1px solid white;
  padding: 0.1rem;
}

.navbar-brand img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

h1 {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 80px;
  letter-spacing: 5px;
  color: white;
}

.title {
  display: flex;
  justify-content: center;
}

/* Loader */
.logoLoader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1;
}

.logoLoader img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Image Container */
.image-container {
  margin: 10px 30%;
}
.image-container img {
  width: 100%;
}

.card {
  margin-bottom: 0.5rem;
}

.card-body {
  display: flex;
  align-content: flex-end;
  justify-content: space-between;
  padding: 1.25rem;
}

.btn {
  width: 5rem;
  height: 4rem;
}

.btn-light:hover {
  background-color: rgb(1, 108, 180);
}

.icon {
  width: 6rem;
  height: 6rem;
  margin-top: 0.2rem;
  align-self: center;
  padding: 0.5rem;
}

/* Media Query: Large Smartphone */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 40px;
  }
  .image-container {
    margin: 10px;
  }
  .icon {
    width: 3rem;
    height: 3rem;
    padding: 0.1rem;
  }
  .card {
    margin-bottom: 0.3rem;
  }
  .btn {
    width: 5rem;
    height: 4rem;
  }
  h6 {
    color: white;
    margin-right: 0.5rem;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
  }

  .navbar-brand {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    border: 1px solid white;
    padding: 0.1rem;
  }

  .navbar-brand img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
  }
}
